@font-face {
  font-family: Roboto;
  src: '../fonts/Roboto/Roboto-Medium.ttf'
}

/* VARIABLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  /* color: $main-font-color; */
}

html {
  --main-font-color: #383838;
  --white-tone: #fff;
  --bg-color: #ECECEC;
  --purple: #A700E2;
  --nav-height: 5rem;
  --padding-x: 0 2rem;
}
body {
  color: var(--main-font-color);
  background-color: var(--bg-color);
}