.mainContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--main-font-color);
}

.main {
  position: relative;
  width: 100%;
  max-width: 40rem;
  padding: var(--padding-x);
  padding-top: 2%;
}

.productsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hide {
  display: none;
}